beautifulsoup4
fake_useragent
keras
lxml
matplotlib
numpy
opencv-python
pandas
pillow
qiskit
requests
scikit-fuzzy
sklearn
statsmodels
sympy
tensorflow
texttable
tweepy
xgboost
yulewalker
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
